<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<div class="wrapper">
    <% include ../partials/sidebar %>


    <div class="main-panel">
        <% include ../partials/navbar %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

<%# begin page content  %>





                    <div class="row">
                        <% for(var i=0; i<workspaceData.realtime["activity_statistics"].length; i++) { %>
                        <% stat = workspaceData.realtime["activity_statistics"][i] %>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">

                                <% if (stat.friendly_name == 'Offline') { %><div class="card-header" data-background-color="gray"><i class="material-icons">brightness_2</i></div><% } %>
                                <% if (stat.friendly_name == 'Reserved') { %><div class="card-header" data-background-color="orange"><i class="material-icons">timer</i></div><% } %>
                                <% if (stat.friendly_name == 'Busy') { %><div class="card-header" data-background-color="red"><i class="material-icons">phone_in_talk</i></div><% } %>
                                <% if (stat.friendly_name == 'Idle') { %><div class="card-header" data-background-color="green"><i class="material-icons">call_end</i></div><% } %>

                                <div class="card-content">
                                    <p class="category">Agents <%= stat.friendly_name %></p>
                                    <h3 class="title"><%= stat.workers %><small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>


                    <% }  %>
                    </div>


                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">people</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Available Agents</p>
                                    <h3 class="title"><%= queueData.realtime["total_available_workers"] %><small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons">storage</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Phone Queue Size</p>
                                    <h3 class="title"><%= queueData.realtime["total_tasks"] %><small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">check_circle</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Tasks Completed</p>
                                    <h3 class="title"><%= workspaceData.cumulative["tasks_completed"] %><small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Last 8 Hours
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="blue">
                                    <i class="material-icons">alarm</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Avg. Task Accept Time</p>
                                    <h3 class="title"><%= workspaceData.cumulative["avg_task_acceptance_time"] %><small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Last 8 Hours
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="green">
                                    <div class="ct-chart" id="dailySalesChart"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Daily Tasks</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in tasks today.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-4">-->
                            <!--<div class="card">-->
                                <!--<div class="card-header card-chart" data-background-color="orange">-->
                                    <!--<div class="ct-chart" id="emailsSubscriptionChart"></div>-->
                                <!--</div>-->
                                <!--<div class="card-content">-->
                                    <!--<h4 class="title">Email Subscriptions</h4>-->
                                    <!--<p class="category">Last Campaign Performance</p>-->
                                <!--</div>-->
                                <!--<div class="card-footer">-->
                                    <!--<div class="stats">-->
                                        <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="red">
                                    <div class="ct-chart" id="completedTasksChart"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Completed Tasks</h4>
                                    <p class="category">Today, by hour</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Agent Stats</h4>
                                    <p class="category">Prior 15 minute period</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                        <th>Name</th>
                                        <th>Accepted</th>
                                        <th>Rejected</th>
                                        <th>Timed Out</th>


                                        <% for(var j=0; j < workerData[0].stats.cumulative.activityDurations.length; j++) { %>
                                        <% var activity = workerData[0].stats.cumulative.activityDurations[j] %>
                                        <th>Avg <%= activity.friendlyName %></th>
                                        <% } %>

                                        </thead>
                                        <tbody>
                                        <% for(var i=0; i < workerData.length; i++) { %>
                                        <% worker = workerData[i] %>

                                        <tr>
                                            <td><%= worker.friendlyName %></td>
                                            <td><%= worker.stats.cumulative.reservationsAccepted %></td>
                                            <td><%= worker.stats.cumulative.reservationsRejected %></td>
                                            <td><%= worker.stats.cumulative.reservationsTimedOut %></td>


                                                <% for(var j=0; j < worker.stats.cumulative.activityDurations.length; j++) { %>
                                            <td>
                                                <% var activity = worker.stats.cumulative.activityDurations[j] %>
                                                     <%= activity.avg %>s
                                                <% } %>
                                            </td>


                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <%# end page content  %>




                </div>
            </div>
        </div>

    </div>
</div>

</body>
<% include ../partials/libs %>



<script type="text/javascript">
    $(document).ready(function(){

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

</html>
