<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/navbar.guest.ejs %>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <% if (locals.message && message.length > 0){ %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="card card-signup">
                            <h2 class="card-title text-center">Register</h2>
                            <div class="row">
                                <div class="col-md-offset-0 col-md-12">
                                    <div class="social text-center">
                                        <a href="/auth/google" class="btn btn-just-icon btn-round btn-google">
                                            <i class="fa fa-google"></i>
                                        </a>
                                        <h4> or be classical </h4>
                                    </div>
                                    <form class="form" method="post" action="/register" novalidate>
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <div class="form-group <% if(formData && !formData.firstName){ %>is-empty<% } %> <% if(errors && errors.firstName){ %>has-error<% } %>">
                                                    <input type="text" class="form-control"
                                                           name="firstName"
                                                           value="<% if(formData && formData.firstName){ %><%= formData.firstName %><% } %>"
                                                           placeholder="First Name..."
                                                            required>
                                                    <span class="material-input"></span>
                                                    <% if(errors && errors.firstName){ %>
                                                    <p class="help-text text-danger"><%= errors.firstName.message %></p>
                                                    <% } %>
                                                </div>

                                                <div class="form-group <% if(formData && !formData.lastName){ %>is-empty<% } %> <% if(errors && errors.lastName){ %>has-error<% } %>">
                                                    <input type="text" class="form-control"
                                                           name="lastName"
                                                           value="<% if(formData && formData.lastName){ %><%= formData.lastName %><% } %>"
                                                           placeholder="Last Name..." required>
                                                    <span class="material-input"></span>
                                                    <% if(errors && errors.lastName){ %>
                                                    <p class="help-text text-danger"><%= errors.lastName.message %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group <% if(formData && !formData.email){ %>is-empty<% } %> <% if(errors && errors.email){ %>has-error<% } %>">
                                                    <input type="text" class="form-control"
                                                           name="email"
                                                           value="<% if(formData && formData.email){ %><%= formData.email %><% } %>"
                                                           placeholder="Email..." required>
                                                    <span class="material-input"></span>
                                                    <% if(errors && errors.email){ %>
                                                    <p class="help-text text-danger"><%= errors.email.message %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <div class="form-group is-empty">
                                                    <input type="password"
                                                           name="password"
                                                           placeholder="Password..."
                                                           class="form-control" required>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">phone</i>
                                                </span>
                                                <div class="form-group <% if(formData && !formData.phone){ %>is-empty<% } %> <% if(errors && errors.phone){ %>has-error<% } %>">
                                                    <input type="tel" name="phone"
                                                           placeholder="phone..."
                                                           value="<% if(formData && formData.phone){ %><%= formData.phone %><% } %>"
                                                           class="form-control" required>
                                                    <span class="material-input"></span>
                                                    <% if(errors && errors.phone){ %>
                                                    <p class="help-text text-danger"><%= errors.phone.message %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes" checked="">
                                                    I agree to the
                                                    <a href="#">terms and conditions</a>.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="footer text-center">
                                            <button type="submit" class="btn btn-primary btn-round">Get Started</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    ©
                    <script async="" src="//www.google-analytics.com/analytics.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="/">Personable</a>
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url() "></div>
    </div>
    <script>
        var a = '<%- JSON.stringify(locals) %>';
    </script>
</div>
</body>
<% include ../partials/libs %>
</html>
